body {
  font-family: $base-font-family;
  min-width: 320px;
  color: $base-text-color;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.agency-introduction {
	background: $beige;
}

.row {
	margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
}

.column {
	padding: 0 15px;
	flex-grow: 0;
	flex-shrink: 0;
}

.default-column {
	width: 100%;
}

.default-half-column {
	width: 50%;
}

.portrait-column {
	@media all and (min-width: 768px) {
		width: 50%;
	}
}

.landscape-column {
	@media all and (min-width: 1024px) {
		width: 50%;
	}
}

.quarter-column {
	@media all and (min-width: 1024px) {
		width: 25%;
	}
}

.small-quarter-column {
	@media all and (min-width: 768px) {
		width: 25%;
	}
}

.one-third-column {
	@media all and (min-width: 1024px) {
		width: 33%;
	}
}

.eight-tvelves-column {
	@media all and (min-width: 1024px) {
		width: 66.66667%;
	}
}

h1, h2, h3, h4, h5 {
	color: $base-text-color;
	font-family: $base-font-family;
}


h1, h2 {
	text-transform: uppercase;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 800;

	@media (min-width: 768px) and (orientation: landscape) {
		font-size: 50px;
		line-height: 62px;
	}

	@media (min-width: 1200px) {
		font-size: 60px;
		line-height: 72px;
	}
}

h2 {
	font-size: 24px;
	font-weight: 800;
	line-height: 26px;

	@media (min-width: 768px) and (orientation: landscape) {
		font-size: 30px;
		line-height: 40px;
	}

	@media (min-width: 1200px) {
		font-size: 42px;
		line-height: 55px;
	}
} 

.h1-title-holder {
	margin-bottom: 20px;

	@media (min-width: 1200px)  {
		margin-bottom: 30px;
	}
}

.h2-title-holder {
	margin-bottom: 25px;
	@media (min-width: 1200px) {
		margin-bottom: 50px;
	}
}


.organization-text-wrap {
	padding-bottom: 20px;

	@media (min-width: 1200px) {
		padding-bottom: 60px;
	}
}

.provision-text-wrap {
	padding-bottom: 20px;

	@media (min-width: 1200px) {
		padding-bottom: 60px;
		padding-right: 100px
	}
}

.section-padding {
	padding: 15px 0px;

	@media (min-width: 768px) and (orientation: landscape) {
		padding: 30px 0px;
	}

	@media (min-width: 1200px) {
		padding: 100px 0px;
	}
}

.button-holder {

	margin-bottom: 40px;

	.button {
	text-transform: capitalize;
	display: inline-block;
	vertical-align: top;
	background-color: transparent;
	min-width: 120px;
	border-radius: 5px;
	color: $button-font-color;
	padding: 10px 50px;
	border: 2px solid $red;
	text-align: center;
	transition: .4s background-color;

	&:hover {
		background-color: $red;
		color: $button-hover-font-color;
		}
	}
}

.video-holder {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
  iframe {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
  }
}

.service-item {
	margin-bottom: 25px;

	@media (min-width: 1200px) {
		margin-bottom: 50px;
	}
}

.item-title-holder {
	margin-bottom: 15px;

	@media (min-width: 1200px) {
		margin-bottom: 25px;
	}
}

.common-icon {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	@media (min-width: 1200px) {
		margin-bottom: 20px;
	}
}

.center-content {
	display: flex;
	justify-content: center;
}

.provision {
	position: relative;
	&:after {
		content: '';
		border-bottom: 2px solid $gray-light;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0px;
		width: 90%;
	}
}

.feature-products {
	text-align: center;
	max-width: 500px;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 30px;
	@media (min-width: 768px) {
		margin-bottom: 40px;
	}

	@media (min-width: 1024px) {
		margin-bottom: 50px;
	}

	@media (min-width: 1200px) {
		margin-bottom: 85px;
	}

	&:after {
		content: '';
		border-bottom: 2px solid $red;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0px;
		width: 30%;
	}
}

.features-title-holder {
	margin-bottom: 15px;

	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}
}

.feature-text-wrap {
	margin-bottom: 15px;
	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}
}

.products-menu {
	padding-bottom: 50px;
	@media (min-width: 1200px) {
		max-width: 900px;
		margin: 0 auto;
	}
}

menu {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;

	li {
		list-style: none;
		padding: 5px 15px;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 24px;
		color: $base-text-color;
		transition: .2s color;

		&:hover {
			color: $red;
		}
	}
}

.product-image-holder {
	margin-bottom: 15px;

	@media (min-width: 768px)  {
		margin-bottom: 20px;
	}
}

.team-introduction {
	text-align: center;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 40px;

	&:after {
		content: '';
		border-bottom: 2px solid $red;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0px;
		width: 30%;
	}

	@media (min-width: 768px) {
		text-align: left;

		&:after {
		content: '';
		border-bottom: 2px solid $red;
		position: absolute;
		left: 15%;
		bottom: 0;
		width: 30%;
		}
	}

	@media (min-width: 1024px) {
		margin-bottom: 50px;
	}

	@media (min-width: 1200px) {
		margin-bottom: 70px;
	}
}

.team-introduction-title-holder {
	margin-bottom: 15px;

	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}
}

.team-introduction-text-wrap {
	margin-bottom: 15px;
	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}
}
.img-slide-holder{
  max-width: 500px;
  margin: 0 auto;

  &:after{
    content: '';
    display: inline-block;
    vertical-align: top;
    padding-top: 150%;

    @media (min-width: 1024px) {
    	display: none;
    }
  }
  
  @media (min-width: 1024px) {
    min-height: 100%;
  }
}

.team{

    .socials-link-list{
        margin: 80px -15px 30px;
        padding: 0;
        overflow: hidden;
        list-style:none;
        li{
            padding: 0 15px;
            float: left;
        }

        a{
      font-weight: bold;
      color: $base-text-color;
      transition: .2s color;
      &:hover{
        color: $red;
      }
        }
  }

}

.team-slider-bottom{
  .bottom-slide{
    position: relative;
    overflow: hidden;

    &:before{
      content:'';
      padding-top: 100%;
      display: block;
    }

    a{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &:hover{

        + .name-holder{
          transform: translateY(-100%);
        }
      }
    }

    .name-holder{
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      right: 0;
      background: rgba($black, .7);
      color: $white;
      text-transform: capitalize;
      text-align: center;
      padding: 5px 10px;
      transition: .3s transform;
    }
  }
}

.bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title-holder{
  text-transform: uppercase;
}

.block-inverse {
	color: $white;
}

.text-center {
	text-align: center;
}

.subscribe {
	h2 {
		text-transform: none;
		color: $white;
	}

	p {
		margin-bottom: 35px;
		@media (min-width: 1024px) {
			margin-bottom: 60px;
		}
	}
}

.bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.subscribe-title-holder {
	margin-bottom: 25px;
	@media (min-width: 1024px) {
		margin-bottom: 40px;
	}
}
