<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homework task 4</title>
	<style type="text/css">
	.button {
		text-transform: capitalize;
		display: inline-block;
		vertical-align: top;
		background-color: transparent;
		min-width: 120px;
		border-radius: 5px;
		color: red;
		padding: 10px 50px;
		border: 2px solid red;
		text-align: center;
		transition: .4s background-color;
	}

	.button:hover {
		background-color: red;
		color: white;
	}

	</style>
</head>
<body>
	<div class="button-holder">
        <a class="button" href="#">contact us</a>
    </div>
</body>
</html>