$base-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;

$reg: 300;
$bold: 900;


$beige: #f6f2f2;
$black: #000000;

$red: #ff2d2d;
$gray: #4c4c4c;
$pink-gray: #f6f2f2;
$gray-light: #ececec;
$pink-light: #f5f0dd;
$white: #fff;
$link-hover: $red;


$button-font-color: $red;
$button-hover-font-color: $white;
$base-text-color: $black;